@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #10B981;
  --color-background: #F3F4F6;
  --color-surface: #FFFFFF;
  --color-text: #1F2937;
  --color-text-muted: #6B7280;

  --font-sans: Inter, sans-serif;
}

body {
  @apply bg-background text-text font-sans antialiased;
}